.title {
  font-weight: bold;
}

.title--small {
  font-size: 24px;
}

.title--medium {
  font-size: 36px;
}

.title--large {
  font-size: 45px;
  font-family: 'Bebas Neue';
}

.title--giant {
  font-size: 60px;
  font-family: 'Bebas Neue';
}

.btn {
  padding: 10px 15px;
  font-weight: bold;

  font-size: 1.0325rem;

  border: 0px;

  border-radius: 25px;
}

.btn--primary {
  color: white;
  background: #ff8300;
}

.text-center {
  text-align: center;
}

.desktop-only {
  display: none;
}

@media (min-width: 1024px) {
  .desktop-only {
    display: block;
  }
}

:link,
:visited {
  color: white;
}
